.pagination-next {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 100px;
}

/* Изменение цвета кнопки при наведении курсора */
.pagination-next:hover {
  background-color: #0056b3;
}

.pagination-prev {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 100px;
}

/* Изменение цвета кнопки при наведении курсора */
.pagination-prev:hover {
  background-color: #0056b3;
}
.current-page {
  background-color: rgb(0, 81, 255);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin: 0 5px; /* Расстояние между элементами текущей страницы */
  min-width: 150px;
}
.input-page {
  width: 15vw;
  text-align: center;
  border: 0;
  min-width: 350px;
  margin-bottom: 2vh;
}
